<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Seedsman Intelligent Irrigation System</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img width="60px" style=" display: inline;" class="img-responsive" src="img/seedsmanlogo.png" alt="">
                <p style="font-size: 20px; display: inline;">Seedsman Intelligent Irrigation</p>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li style="margin-top: 10px; font-size: 20px">
                        <a href="">The world's smartest irrigation system.</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 style="font-size: 50px;">The world's most powerful smart irrigation system</h1>
                        <h3 style="font-size: 20px;">Discover endless customization with the only irrigation system that listens to the weather, your soil, and you</h3>
                        <hr class="intro-divider">
                        <p>Get on the pre-qualification list to get access to the first round of Seedsman Irrigation Systems.</p>
                        <form method="post" action="/">
                            <div class="form-inline">
                                <div class="form-group">
                                    {{ form.csrf_token }}
                                    <input type="email" class="form-control" id="email"  name="email" placeholder="Enter email">
                                </div>
                                <button type="submit" class="btn btn-default">Sign up</button>
                            </div>
                        </form>

                        {% if form.errors %}
                        <p style="color: red; margin-top: 15px;" >{{ form.errors['email'][0] }}</p>
                        {% endif %}

                        {% with messages = get_flashed_messages() %}
                          {% if messages %}
                            {% for message in messages %}
                            <p style="color: green; margin-top: 15px;" >{{ message }}</p>
                            {% endfor %}
                          {% endif %}
                        {% endwith %}


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Powerful intelligence</h2>
                    <p class="lead">
                    <ul>
                        <li>Intelligently checks local weather for rain.</li>
                        <li>Easily set your own precipitation limit and how long to wait for rain.</li>
                        <li>Choose what days and times to allow watering because you need control.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" width="350px;" src="img/weather.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Never worry about a dying lawn</h2>
                    <ul>
                        <li>Seedsman uses Scientfically proven mositure detecters in your lawn to detect when it needs water.</li>
                        <li>Customize your own minimum moisture level for watering.</li>
                        <li>Communicates via bluetooth with the Seedsman.</li>
                    </ul>

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img width="350px;" class="img-responsive" src="img/seedsmanbox.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">More control with our mobile app</h2>
                    <ul>
                        <li>Simply turn your sprinklers off and on with touch of a button.</li>
                        <li>Discover value in your entire irrigation history.</li>
                        <li>Comprehensive usage reports and maximum control.</p>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img width="350px;" class="img-responsive" src="img/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Easy to install</h2>
                    <ul>
                        <li>Just remove your old box and snap in your Seedsman.</li>
                        <li>Connects to the internet via wifi or ethernet.</li>
                        <li>Guarenteed to water your lawn with an inbuilt timer, even without connection.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img width="350px;" class="img-responsive" src="img/easy.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->


    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Save things that are important to you</h2>
                    <ul>
                        <li>A Seedsman is a proven way to save water.</li>
                        <li>Using less water is a proven way to save money.</li>
                        <li>Proven or not by because you are efficient you are saving the world.</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img width="350px;" class="img-responsive" src="img/piggy.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->




	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <center>
                    <h2 style="font-size: 20px;">Never has irrigation been so powerful and customizable, because we didn't have the technology.
                        <br>Now it is here.  Get on the pre-qualification list and have first dibs on a new Seedsman.</h2>
                </center>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <center>

                        <hr class="intro-divider">
                        <p>Get on the pre-qualification list to get access to the first round of Seedsman Irrigation Systems.</p>
                    <br>
                    <form method="post" action="/">
                        <div class="form-inline">
                            <div class="form-group">
                                {{ form.csrf_token }}
                                <input type="email" class="form-control" id="email"  name="email" placeholder="Enter email">
                            </div>
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </form>
                </center>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright &copy; Seedsman Intelligent Irrigation 2015. All Rights Reserved</p>
                    <a href="http://www.freepik.com/free-photos-vectors/icon">Icon vector designed by Freepik</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
